.ds_store
data/Animations/
mayalog.txt
kamioza.dSYM/Contents/Info.plist
kamioza.dSYM/Contents/Resources/DWARF/kamioza
SDL2.framework/Resources
SDL2.framework/SDL2
SDL2.framework/Versions/Current
SDL2.framework/Versions/A/SDL2
SDL2.framework/Versions/A/_CodeSignature/CodeResources
SDL2.framework/Versions/A/Resources/default.metallib
SDL2.framework/Versions/A/Resources/Info.plist
SDL2.framework/Versions/A/Resources/License.txt
SDL2.framework/Versions/A/Resources/ReadMe.txt
SDL2.framework/Versions/A/Resources/CMake/sdl2-config-version.cmake
SDL2.framework/Versions/A/Resources/CMake/sdl2-config.cmake
kamioza
data/sql/Egos/Shilla.ego
products/Release_v0_0_81/
products/Release_v0_0_82/
products/Release_v0_0_83/
products/Release_v0_0_84/
products/Release_v0_0_85/
products/Release_v0_0_86/
products/Release_v0_0_87/
kamioza.dSYM
